.App {
  text-align: center;
}

.titulos {
  color: #F1B59D;
  text-align: center;
  margin-top: -1%;
  margin-bottom: -1%;
  font-family: Larianti;
  src: url(../src/font/larianti.otf);
  font-weight: bold;
  font-size: 20px;
}

.linharosinha {
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-color: #F1B59D;
}

.titulosscroll {
  margin-top: 2.5%;
  color: #F1B59D;
  text-align: center;
  font-family: Larianti;
  src: url(../src/font/larianti.otf);
  font-weight: bold;
  font-size: 20px;
}

h6{
  color: #F1B59D;
  font-weight: bold;
  font-size: 15px;
  font-family: Larianti;
  src: url(../src/font/larianti.otf);
}

@font-face{
  font-family: Laranrini;
  src: url(../src/font/larianti.otf);
}

/*----------ZOOM----------*/

.zoom:hover {
  transform: scale(1.8); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fundo {
  background-color: #FFE8DF;
  height: 125px;
}

.fundobranco {
  background-color: #FFFFFF;
  height: 40px;
}

.centermenu{
  position: absolute;
  left: 50%;
  top: 66%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFE8DF;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 3px;
}

li a:hover {
  background-color: #fff9f6;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.videocenter{
  margin-left: 30%;
  margin-right: 70%;
  margin-top: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logonavbar{
  position: absolute;
  left: 30px;
  top: 50px;
}

.login{
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translate(0, -50%);
  color: #696969;
  font-size: 15px;
}

.login a{
  text-decoration: none;
  color: #696969;
}

.login a:hover{
  color: #000000;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #FFE8DF;
  color: white;
  text-align: center;
  display: block;
}

.footersocial1{
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
}

.footersocial2{
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translate(0, -50%);
}

.footersocial3{
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translate(0, -50%);
}

.footertext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #696969;
}

.footermorada{
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  text-align: left;
  color: #696969;
}

.arrowfoot{
  position: absolute;
  right: 165px;
}

.sobre{
  position: absolute;
  left: 60%;
  top: 53%;
  transform: translate(-50%, -50%);
}

.sobre img{
  width: 300px;
  border-radius: 10px;
  margin-left: -250px;
}

.textsobre {
  font-size: 13px;
  margin-top: -195px;
  margin-left: 100px;
  width: 500px;
  text-align: justify;
  color: #696969;
}

.vernizesscroll{
  width: 100%;
  height: 512px;
  overflow: scroll;
}

.card{
  background-color: rgba(187, 187, 187, 0);
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.59);
  width: 180px;
  height: 230px;
  display: inline-block;
  margin: 10px;
}

.card2{
  background-color: rgba(187, 187, 187, 0);
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.59);
  width: 180px;
  height: 180px;
  display: inline-block;
  margin: 10px;
}

.cardimg{
  height: 130px;
  background-color: #FFE8DF;
}

.titulofilme{
  font-size: 15px;
  text-align: left;
  color: #696969;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  padding-top: 55px;
}

.textofilme{
  font-size: 10px;
  text-align: left;
  color: #696969;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: -17px;
}

.imagemfilme{
  height: 200px;
  width: 298px;
  margin: none;
}

.carddesc{
  height: 50px;
  background-color: #ffffff;
}

.centerscroll{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.equipamentos{
  margin-left: 38%;
  margin-right: 40%;
  margin-top: 4%;
}

.equipamentos2{
  margin-left: 38%;
  margin-right: 40%;
  margin-top: 3%;
}

.equipamentos img{
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: -250px;
}

.imgequip2 {
  width: 300px;
  border-radius: 10px;
  margin-left: 300px;
}

.textoequip2 {
  font-size: 13px;
  margin-top: -205px;
  margin-left: -250px;
  width: 500px;
  text-align: justify;
  color: #696969;
}

.cardimgportfolio {
  height: 180px;
  background-color: #FFE8DF;
}

.conteudodiv {
  margin-top: 30px;
}

/* -------- LOGIN -------- */

.logincenter{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.login-block {
  width: 320px;
  padding: 20px;
  background: #FFE8DF;
  border-radius: 5px;
  margin: 0 auto;
}

.login-block h1 {
  text-align: center;
  color: #696969;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-block label{
  color: #696969;
}

.login-block input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: #F1B59D;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.login-block button:hover {
  background: #696969;
  color: #ffffff;
}

/* -------- MARCAÇÕES --------*/

.marccenter{
  margin-top: 50px;
  text-align: center;
  vertical-align: top;
}

.marc-block{
  width: 500px;
  height: 380px;
  padding: 20px;
  background: #FFE8DF;
  border-radius: 5px;
  display: inline-block;
}

#m1 {
  text-align: left;
  margin-right: 100px;
  border-color: #696969;
  overflow: auto;
}

#m1 h1{
  text-align: center;
  color: #696969;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

#m1 label{
  color: #696969;
}

#m1 select#mes{
  width: 35%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-right: 5%;
  font-size: 14px;
  padding-left: 10px;
  outline: none;
  color: #696969;
}

#m1 select#dia{
  width: 20%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-right: 5%;
  font-size: 14px;
  padding-left: 10px;
  outline: none;
  color: #696969;
}

#m1 select#hora{
  width: 35%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
  padding-left: 10px;
  outline: none;
  color: #696969;
}

#m1 input#nome{
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  color: #696969;
}

#m1 input#tele{
  width: 50%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  color: #696969;
}

#m1 button {
  width: 100%;
  height: 35px;
  background: #F1B59D;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

#m1 button:hover {
  background: #696969;
  color: #ffffff;
}

#m2 {
  text-align: left;
  border-color: #696969;
  overflow: auto;
}

#m2 h1{
  text-align: center;
  color: #696969;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

#m2 label{
  color: #696969;
}

#m2 input#data{
  width: 55%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-right: 5%;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  color: #696969;
}

#m2 input#estado{
  width: 40%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  color: #696969;
}

#m2 input#tele{
  width: 40%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-right: 5%;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  color: #696969;
}

#m2 input#email{
  width: 55%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  color: #696969;
}